In [3]:
!pip install tensorflow

Collecting tensorflow
  Using cached tensorflow-2.3.1-cp37-cp37m-win_amd64.whl (342.5 MB)
Requirement already satisfied: protobuf>=3.9.2 in c:\users\swill\anaconda3\envs\pythondata\lib\site-packages (from tensorflow) (3.13.0)
Requirement already satisfied: wheel>=0.26 in c:\users\swill\anaconda3\envs\pythondata\lib\site-packages (from tensorflow) (0.34.2)
Requirement already satisfied: absl-py>=0.7.0 in c:\users\swill\anaconda3\envs\pythondata\lib\site-packages (from tensorflow) (0.10.0)
Requirement already satisfied: wrapt>=1.11.1 in c:\users\swill\anaconda3\envs\pythondata\lib\site-packages (from tensorflow) (1.11.2)
Requirement already satisfied: h5py<2.11.0,>=2.10.0 in c:\users\swill\anaconda3\envs\pythondata\lib\site-packages (from tensorflow) (2.10.0)
Requirement already satisfied: keras-preprocessing<1.2,>=1.1.1 in c:\users\swill\anaconda3\envs\pythondata\lib\site-packages (from tensorflow) (1.1.2)
Requirement already satisfied: grpcio>=1.8.6 in c:\users\swill\anaconda3\envs\pythondata\lib\site-packages (from tensorflow) (1.32.0)
Requirement already satisfied: astunparse==1.6.3 in c:\users\swill\anaconda3\envs\pythondata\lib\site-packages (from tensorflow) (1.6.3)
Requirement already satisfied: numpy<1.19.0,>=1.16.0 in c:\users\swill\anaconda3\envs\pythondata\lib\site-packages (from tensorflow) (1.18.1)
Requirement already satisfied: gast==0.3.3 in c:\users\swill\anaconda3\envs\pythondata\lib\site-packages (from tensorflow) (0.3.3)
Requirement already satisfied: tensorflow-estimator<2.4.0,>=2.3.0 in c:\users\swill\anaconda3\envs\pythondata\lib\site-packages (from tensorflow) (2.3.0)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\swill\anaconda3\envs\pythondata\lib\site-packages (from tensorflow) (3.3.0)
Requirement already satisfied: six>=1.12.0 in c:\users\swill\anaconda3\envs\pythondata\lib\site-packages (from tensorflow) (1.14.0)
Requirement already satisfied: google-pasta>=0.1.8 in c:\users\swill\anaconda3\envs\pythondata\lib\site-packages (from tensorflow) (0.2.0)
Requirement already satisfied: tensorboard<3,>=2.3.0 in c:\users\swill\anaconda3\envs\pythondata\lib\site-packages (from tensorflow) (2.3.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\swill\anaconda3\envs\pythondata\lib\site-packages (from tensorflow) (1.1.0)
Requirement already satisfied: setuptools in c:\users\swill\anaconda3\envs\pythondata\lib\site-packages (from protobuf>=3.9.2->tensorflow) (46.4.0.post20200518)
Requirement already satisfied: markdown>=2.6.8 in c:\users\swill\anaconda3\envs\pythondata\lib\site-packages (from tensorboard<3,>=2.3.0->tensorflow) (3.3.1)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in c:\users\swill\anaconda3\envs\pythondata\lib\site-packages (from tensorboard<3,>=2.3.0->tensorflow) (1.7.0)
Requirement already satisfied: werkzeug>=0.11.15 in c:\users\swill\anaconda3\envs\pythondata\lib\site-packages (from tensorboard<3,>=2.3.0->tensorflow) (1.0.1)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\swill\anaconda3\envs\pythondata\lib\site-packages (from tensorboard<3,>=2.3.0->tensorflow) (2.23.0)
Requirement already satisfied: google-auth<2,>=1.6.3 in c:\users\swill\anaconda3\envs\pythondata\lib\site-packages (from tensorboard<3,>=2.3.0->tensorflow) (1.22.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in c:\users\swill\anaconda3\envs\pythondata\lib\site-packages (from tensorboard<3,>=2.3.0->tensorflow) (0.4.1)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in c:\users\swill\anaconda3\envs\pythondata\lib\site-packages (from markdown>=2.6.8->tensorboard<3,>=2.3.0->tensorflow) (1.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\swill\anaconda3\envs\pythondata\lib\site-packages (from requests<3,>=2.21.0->tensorboard<3,>=2.3.0->tensorflow) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\users\swill\anaconda3\envs\pythondata\lib\site-packages (from requests<3,>=2.21.0->tensorboard<3,>=2.3.0->tensorflow) (2.9)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\swill\anaconda3\envs\pythondata\lib\site-packages (from requests<3,>=2.21.0->tensorboard<3,>=2.3.0->tensorflow) (1.25.8)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\swill\anaconda3\envs\pythondata\lib\site-packages (from requests<3,>=2.21.0->tensorboard<3,>=2.3.0->tensorflow) (3.0.4)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in c:\users\swill\anaconda3\envs\pythondata\lib\site-packages (from google-auth<2,>=1.6.3->tensorboard<3,>=2.3.0->tensorflow) (4.1.1)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3.5" in c:\users\swill\anaconda3\envs\pythondata\lib\site-packages (from google-auth<2,>=1.6.3->tensorboard<3,>=2.3.0->tensorflow) (4.6)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\swill\anaconda3\envs\pythondata\lib\site-packages (from google-auth<2,>=1.6.3->tensorboard<3,>=2.3.0->tensorflow) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\swill\anaconda3\envs\pythondata\lib\site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<3,>=2.3.0->tensorflow) (1.3.0)
Requirement already satisfied: zipp>=0.5 in c:\users\swill\anaconda3\envs\pythondata\lib\site-packages (from importlib-metadata; python_version < "3.8"->markdown>=2.6.8->tensorboard<3,>=2.3.0->tensorflow) (3.1.0)
Requirement already satisfied: pyasn1>=0.1.3 in c:\users\swill\anaconda3\envs\pythondata\lib\site-packages (from rsa<5,>=3.1.4; python_version >= "3.5"->google-auth<2,>=1.6.3->tensorboard<3,>=2.3.0->tensorflow) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\swill\anaconda3\envs\pythondata\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<3,>=2.3.0->tensorflow) (3.1.0)
Installing collected packages: tensorflow
Successfully installed tensorflow-2.3.1

In [20]:
from numpy.random import seed
seed(1)

In [21]:
import os
import tensorflow 
from tensorflow.keras.models import Sequential
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.layers import Dense

In [22]:
import numpy as np
import pandas as pd

In [23]:
mlb_teams= pd.read_csv("Team Statistics.csv")

mlb_teams

,YR,LG,Name,G,W,L,WSWin,Unnamed: 7,R,H,2B,3B,HR,BB,Unnamed: 14,SO,ERA,SHO,SV,FP
0,1969,NL,Atlanta Braves,162,93,69,N,NaN,691,1411,195,22,141,485,NaN,665,3.53,7,42,0.981
1,1969,AL,Baltimore Orioles,162,109,53,N,NaN,779,1465,234,29,175,634,NaN,806,2.83,20,36,0.984
2,1969,AL,Boston Red Sox,162,87,75,N,NaN,743,1381,234,37,197,658,NaN,923,3.92,7,41,0.975
3,1969,AL,California Angels,163,71,91,N,NaN,528,1221,151,29,88,516,NaN,929,3.54,9,39,0.978
4,1969,AL,Chicago White Sox,162,68,94,N,NaN,625,1346,210,27,112,552,NaN,844,4.21,10,25,0.981
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1403,2019,NL,St. Louis Cardinals,162,91,71,N,NaN,764,1336,246,24,210,561,NaN,1420,3.80,14,52,0.989
1404,2019,AL,Tampa Bay Rays,162,96,66,N,NaN,769,1427,291,29,217,542,NaN,1493,3.65,12,46,0.985
1405,2019,AL,Texas Rangers,162,78,84,N,NaN,810,1374,296,24,223,534,NaN,1578,5.06,9,33,0.982
1406,2019,AL,Toronto Blue Jays,162,67,95,N,NaN,726,1299,270,21,247,509,NaN,1514,4.79,7,33,0.984
1407,2019,NL,Washington Nationals,162,93,69,Y,NaN,873,1460,298,27,231,584,NaN,1308,4.27,13,40,0.985

In [24]:
mlb_teams.columns

Index(['YR', 'LG', 'Name', 'G', 'W', 'L', 'WSWin', 'Unnamed: 7', 'R', 'H',
       '2B', '3B', 'HR', 'BB', 'Unnamed: 14', 'SO', 'ERA', 'SHO', 'SV', 'FP'],
      dtype='object')

In [25]:
mlb_df = mlb_teams[['YR', 'LG', 'Name', 'G', 'W', 'L', 'WSWin', 'R', 'H',
                   '2B', '3B', 'HR', 'BB', 'SO', 'ERA', 'SHO', 'SV', 'FP']]
mlb_df.head(20)

,YR,LG,Name,G,W,L,WSWin,R,H,2B,3B,HR,BB,SO,ERA,SHO,SV,FP
0,1969,NL,Atlanta Braves,162,93,69,N,691,1411,195,22,141,485,665,3.53,7,42,0.981
1,1969,AL,Baltimore Orioles,162,109,53,N,779,1465,234,29,175,634,806,2.83,20,36,0.984
2,1969,AL,Boston Red Sox,162,87,75,N,743,1381,234,37,197,658,923,3.92,7,41,0.975
3,1969,AL,California Angels,163,71,91,N,528,1221,151,29,88,516,929,3.54,9,39,0.978
4,1969,AL,Chicago White Sox,162,68,94,N,625,1346,210,27,112,552,844,4.21,10,25,0.981
5,1969,NL,Chicago Cubs,163,92,70,N,720,1400,215,40,142,559,928,3.34,22,27,0.979
6,1969,NL,Cincinnati Reds,163,89,73,N,798,1558,224,42,171,474,1042,4.11,11,44,0.973
7,1969,AL,Cleveland Indians,161,62,99,N,573,1272,173,24,119,535,906,3.94,7,22,0.976
8,1969,AL,Detroit Tigers,162,90,72,N,701,1316,188,29,182,578,922,3.31,20,28,0.979
9,1969,NL,Houston Astros,162,81,81,N,676,1284,208,40,104,699,972,3.60,11,34,0.975
10,1969,AL,Kansas City Royals,163,69,93,N,586,1311,179,32,98,522,901,3.72,10,25,0.975
11,1969,NL,Los Angeles Dodgers,162,85,77,N,645,1405,185,52,97,484,823,3.08,20,31,0.981
12,1969,AL,Minnesota Twins,162,97,65,N,790,1520,246,32,163,599,906,3.24,8,43,0.977
13,1969,NL,Montreal Expos,162,52,110,N,582,1300,202,33,125,529,962,4.33,8,21,0.970
14,1969,AL,New York Yankees,162,80,81,N,562,1247,210,44,94,565,840,3.23,13,20,0.979
15,1969,NL,New York Mets,162,100,62,Y,632,1311,184,41,109,527,1089,2.99,28,35,0.980
16,1969,AL,Oakland Athletics,162,88,74,N,740,1400,210,28,148,617,953,3.71,14,36,0.978
17,1969,NL,Philadelphia Phillies,162,63,99,N,645,1304,227,35,137,549,1130,4.14,14,21,0.978
18,1969,NL,Pittsburgh Pirates,162,88,74,N,725,1557,220,52,119,454,944,3.61,9,33,0.975
19,1969,NL,San Diego Padres,162,52,110,N,468,1203,180,42,99,423,1143,4.24,9,25,0.975

In [26]:
data = mlb_df.drop("Name", axis=1)
team = mlb_df["Name"]
print(data.shape, team.shape)

(1408, 17) (1408,)

In [39]:
data_LG = data.copy()
data_bin = pd.get_dummies(data_LG, columns=["LG", "WSWin"])                                                    
data_bin.head()

,YR,G,W,L,R,H,2B,3B,HR,BB,SO,ERA,SHO,SV,FP,LG_AL,LG_NL,WSWin_N,WSWin_Y
0,1969,162,93,69,691,1411,195,22,141,485,665,3.53,7,42,0.981,0,1,1,0
1,1969,162,109,53,779,1465,234,29,175,634,806,2.83,20,36,0.984,1,0,1,0
2,1969,162,87,75,743,1381,234,37,197,658,923,3.92,7,41,0.975,1,0,1,0
3,1969,163,71,91,528,1221,151,29,88,516,929,3.54,9,39,0.978,1,0,1,0
4,1969,162,68,94,625,1346,210,27,112,552,844,4.21,10,25,0.981,1,0,1,0

In [35]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

In [41]:
X_train, X_test, y_train, y_test = train_test_split(data_bin, team, random_state=42)
data_bin_train.head()

,YR,LG,G,W,L,WSWin,R,H,2B,3B,HR,BB,SO,ERA,SHO,SV,FP
497,1988,NL,160,85,75,N,651,1327,240,45,110,553,947,3.47,11,46,0.980
881,2002,AL,162,62,100,N,737,1415,285,42,140,524,921,5.21,6,30,0.979
1370,2018,NL,162,66,96,N,617,1289,250,30,162,471,1523,4.40,5,36,0.983
846,2001,AL,162,91,71,N,897,1559,294,37,212,577,1076,4.64,4,42,0.982
10,1969,AL,163,69,93,N,586,1311,179,32,98,522,901,3.72,10,25,0.975

In [37]:
X_scaler = MinMaxScaler().fit(data_train)
X_train_scaled = X_scaler.transform(data_train)
X_test_scaled = X_scaler.transform(data_test)

ValueError: could not convert string to float: 'NL'